<% if @cards["data"] != nil %>
  <%= render "partials/has_more" %>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4"><!-- Adjust the width of the cards -->
    <% @cards["data"].each_with_index do |card, index| %>
      <div class="col">
        <div class="card h-100">
          <% if card["layout"] == "transform" || card["layout"] == "modal_dfc" %>
            <!-- Double faced cards with transform or modal_dfc layout -->
            <%= render "partials/transform_card_modal", card: card, index: index %>
            <a href="#" data-bs-toggle="modal" data-bs-target="#transformModalToggle<%= index %>">
              <img src="https://img.icons8.com/ios-filled/50/000000/rotate-left.png" class="position-absolute start-100 translate-middle img-fluid" style="top: 0; right: 0;"/>
              <img src="<%= card["card_faces"][0]["image_uris"]["normal"] %>" class="card-img-top" alt="<%= card["card_faces"][0]["name"] %>">
            </a>
          <% else %>
            <!-- Normal cards -->
            <%= render "partials/normal_card_modal", card: card, index: index %>
            <a href="#" data-bs-toggle="modal" data-bs-target="#normalModalToggle<%= index %>">
              <img src="<%= card["image_uris"]["normal"] %>" class="card-img-top" alt="<%= card["name"] %>">
            </a>
          <% end %>
          <div class="card-footer">
            <%= render "partials/add_to_collection", card: card %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= render "partials/has_more" %>
<% end %>
