<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-secondary">NomduSite</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Ma collection</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Outil</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Recherche de cartes</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Recherche ta carte..." aria-label="Search">
      </form>

      <% if rodauth.logged_in? %>
        <div class="dropdown">
          <button class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" type="button">
            <%= current_account.profile.name %>
          </button>
          <div class="dropdown-menu dropdown-menu-end">
            <%= link_to "Changer de mot de passe", rodauth.change_password_path, class: "dropdown-item" %>
            <%= link_to "Changer d'email ", rodauth.change_login_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Fermer ton compte", rodauth.close_account_path, class: "dropdown-item text-danger" %>
            <%= link_to "Déconnexion", rodauth.logout_path, data: { turbo_method: :post }, class: "dropdown-item" %>
          </div>
        </div>
      <% else %>
        <div>
          <%= link_to "Connexion", rodauth.login_path, class: "btn btn-outline-primary" %>
          <%= link_to "Inscription", rodauth.create_account_path, class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</header>
