<div id="<%= dom_id card %>">
  <p>
    <strong>Title:</strong>
    <%= card.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= card.description %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= card.author %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= card.year %>
  </p>

  <p>
    <strong>Image uri:</strong>
    <%= card.image_uri %>
  </p>

  <p>
    <strong>Categorie:</strong>
    <%= card.categorie %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= card.color %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= card.note %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= card.price %>
  </p>

  <p>
    <strong>Add date:</strong>
    <%= card.add_date %>
  </p>

  <p>
    <strong>Lang:</strong>
    <%= card.lang %>
  </p>

  <p>
    <strong>Foil:</strong>
    <%= card.foil %>
  </p>

</div>
