<%= form_with(model: card) do |form| %>
  <% if card.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
        <% card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_area :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :author, style: "display: block" %>
    <%= form.text_area :author %>
  </div>

  <div>
    <%= form.label :year, style: "display: block" %>
    <%= form.number_field :year %>
  </div>

  <div>
    <%= form.label :image_uri, style: "display: block" %>
    <%= form.text_field :image_uri %>
  </div>

  <div>
    <%= form.label :categorie, style: "display: block" %>
    <%= form.text_field :categorie %>
  </div>

  <div>
    <%= form.label :color, style: "display: block" %>
    <%= form.text_area :color %>
  </div>

  <div>
    <%= form.label :note, style: "display: block" %>
    <%= form.text_area :note %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.number_field :price %>
  </div>

  <div>
    <%= form.label :add_date, style: "display: block" %>
    <%= form.datetime_field :add_date %>
  </div>

  <div>
    <%= form.label :lang, style: "display: block" %>
    <%= form.text_area :lang %>
  </div>

  <div>
    <%= form.label :foil, style: "display: block" %>
    <%= form.check_box :foil %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
