<div class="container text-center my-5">
  <h1 class="display-4"><strong>Bienvenue sur la page de</strong></h1>
  <h1><strong><span class=" pb-3 background-gradient">votre collection Magic.</span></strong></h1>
  <p class="lead my-5">Tu as la possibilité d'aller voir directement par couleur toutes tes cartes et modifier leurs quantités :</p>
  <p class="lead my-5"><u>Cette page est encore en construction, tu as la possibilité d'ajouter des cartes</u></p>

  <div class="bd-example">
    <button type="button" class="btn btn-light mb-2">Blanc</button>
    <button type="button" class="btn btn-primary mb-2">Bleu</button>
    <button type="button" class="btn btn-dark mb-2">Noir</button>
    <button type="button" class="btn btn-danger mb-2">Rouge</button>
    <button type="button" class="btn btn-success mb-2">Vert</button>
    <button type="button" class="btn btn-warning mb-2">Multicolor</button>
    <button type="button" class="btn btn-secondary mb-2">Incolor</button>
  </div>
  <p class="lead mb-5 my-5">
    Actuellement tu as <%= @cards.sum(:quantity) %> cartes dans ta collection.<br />
    Avec total de <%= @cards.pluck(:printed_name).uniq.count %> cartes uniques.
  </p>
  <h2>Ta collection actuellement est estimé à <%= @total_price %> €</h2>
</div>

<!-- White -->
<a class="container-fluid bg-light text-center text-black p-3 btn btn-light" id="scrollButtonWhite" href="#scrollButtonWhite" role="button">
  <p class="h1">Blanc (<%= @white_card.sum(:quantity) %>)</p>
</a>
<div class="container table-responsive-sm">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Carte</th>
        <th>Quantité</th>
        <th>Prix (unitaire)</th>
      </tr>
    </thead>
    <tbody>
      <% @cards.sort_by(&:printed_name).each do |card| %>
        <% if card.color_identity == "W" %>
          <tr>
            <td><%= card.printed_name %></td>
            <td>
              <%= form_with model: card, local: true do |form| %>
                <%= form.number_field :quantity, class: "form-control" %>
                <%= form.submit "Ok", class: "btn btn-primary" %>
              <% end %>
            </td>
            <td><%= card.price %> €</td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<!-- Blue -->
<a class="container-fluid bg-primary text-center text-white p-3 btn btn-primary mt-2" id="scrollButtonBlue" href="#scrollButtonBlue" role="button">
  <p class="h1">Bleu (<%= @blue_card.sum(:quantity) %>)</p>
</a>
<div class="container table-responsive-sm">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Carte</th>
        <td>Quantité</td>
        <th>Prix (unitaire)</th>
      </tr>
    </thead>
    <tbody>
      <% @cards.sort_by(&:printed_name).each do |card| %>
        <% if card.color_identity == "U" %>
          <tr>
            <td><%= card.printed_name %></td>
            <td>
              <%= form_with model: card, local: true do |form| %>
                <%= form.number_field :quantity, class: "form-control" %>
                <%= form.submit "Ok", class: "btn btn-primary" %>
              <% end %>
            </td>
            <td><%= card.price %> €</td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<!-- Black -->
<a class="container-fluid bg-dark text-center text-white p-3 btn btn-dark mt-2" id="scrollButtonBlack" href="#scrollButtonBlack" role="button">
  <p class="h1">Noir (<%= @black_card.sum(:quantity) %>)</p>
</a>
<div class="container table-responsive-sm">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Carte</th>
        <td>Quantité</td>
        <th>Prix (unitaire)</th>
      </tr>
    </thead>
    <tbody>
      <% @cards.sort_by(&:printed_name).each do |card| %>
        <% if card.color_identity == "B" %>
          <tr>
            <td><%= card.printed_name %></td>
            <td>
              <%= form_with model: card, local: true do |form| %>
                <%= form.number_field :quantity, class: "form-control" %>
                <%= form.submit "Ok", class: "btn btn-primary" %>
              <% end %>
            </td>
            <td><%= card.price %> €</td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<!-- Red -->
<a class="container-fluid bg-danger text-center text-white p-3 btn btn-danger mt-2" id="scrollButtonRed" href="#scrollButtonRed" role="button">
  <p class="h1">Rouge (<%= @red_card.sum(:quantity) %>)</p>
</a>
<div class="container table-responsive-sm">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Carte</th>
        <td>quantité</td>
        <th>Prix (unitaire)</th>
      </tr>
    </thead>
    <tbody>
      <% @cards.sort_by(&:printed_name).each do |card| %>
        <% if card.color_identity == "R" %>
          <tr>
            <td><%= card.printed_name %></td>
            <td>
              <%= form_with model: card, local: true do |form| %>
                <%= form.number_field :quantity, class: "form-control" %>
                <%= form.submit "Ok", class: "btn btn-primary" %>
              <% end %>
            </td>
            <td><%= card.price %> €</td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<!-- Green -->
<a class="container-fluid bg-success text-center text-white p-3 btn btn-success mt-2" id="scrollButtonGreen" href="#scrollButtonGreen" role="button">
  <p class="h1">Vert (<%= @green_card.sum(:quantity) %>)</p>
</a>
<div class="container table-responsive-sm">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Carte</th>
        <td>Quantité</td>
        <th>Prix (unitaire)</th>
      </tr>
    </thead>
    <tbody>
      <% @cards.sort_by(&:printed_name).each do |card| %>
        <% if card.color_identity == "G" %>
          <tr>
            <td><%= card.printed_name %></td>
            <td>
              <%= form_with model: card, local: true do |form| %>
                <%= form.number_field :quantity, class: "form-control" %>
                <%= form.submit "Ok", class: "btn btn-primary" %>
              <% end %>
            </td>
            <td><%= card.price %> €</td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<!-- Multicolor -->
<a class="container-fluid bg-warning text-center text-black p-3 btn btn-warning mt-2" id="scrollButtonMulti" href="#scrollButtonMulti" role="button">
  <p class="h1">Multicolore (<%= @multicolor_card.sum(:quantity) %>)</p>
</a>
<div class="container table-responsive-sm">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Carte</th>
        <th>Quantité</th>
        <th>Prix (unitaire)</th>
      </tr>
    </thead>
    <tbody>
      <% @cards.sort_by(&:printed_name).each do |card| %>
        <% if card.color_identity.length > 1 %>
          <tr>
            <td><%= card.printed_name %></td>
            <td>
              <%= form_with model: card, local: true do |form| %>
                <%= form.number_field :quantity, class: "form-control" %>
                <%= form.submit "Ok", class: "btn btn-primary" %>
              <% end %>
            </td>
            <td><%= card.price %> €</td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<!-- Colorless -->
<a class="container-fluid bg-secondary text-center text-white p-3 btn btn-secondary mt-2" id="scrollButtonArtefact" href="#scrollButtonArtefact" role="button">
  <p class="h1">Incolore (<%= @colorless_card.sum(:quantity) %>)</p>
</a>
<div class="container table-responsive-sm">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Carte</th>
        <th>Quantité</th>
        <th>Prix (unitaire)</th>
      </tr>
    </thead>
    <tbody>
      <% @cards.sort_by(&:printed_name).each do |card| %>
        <% if card.color_identity == "" %>
          <tr>
            <td><%= card.printed_name %></td>
            <td>
              <%= form_with model: card, local: true do |form| %>
                <%= form.number_field :quantity, class: "form-control" %>
                <%= form.submit "Ok", class: "btn btn-primary" %>
              <% end %>
            </td>
            <td><%= card.price %> €</td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
