<!-- Ajoute un bouton en haut de l'écran et au milieu de l'écran en dessous de la navbar -->
<div class="d-grid gap-2 col-8 mx-auto mt-5 my-5">
  <button class="btn btn-primary" href="#" type="button">Voir le tableau de prix</button>
</div>

<div class="btn-group my-5" role="group">
  <button type="button" class="btn btn-primary">Blanc</button>
  <button type="button" class="btn btn-primary">Bleu</button>
  <button type="button" class="btn btn-primary">Noir</button>
  <button type="button" class="btn btn-primary">Rouge</button>
  <button type="button" class="btn btn-primary">Vert</button>
  <button type="button" class="btn btn-primary">Multicolor</button>
  <button type="button" class="btn btn-primary">Incolor</button>
</div>

<!-- White -->
<!-- SI aucune carte n'a une identity_color de "W" alors on affiche le bouton -->


<% if @white_card %>
  <div class="card text-center mt-5">
    <div class="card-header">
      <h3><%= @white_card.title %></h3>
    </div>
    <div class="card-body">
      <p class="card-text"><%= @white_card.description %></p>
    </div>
  </div>
<% end %>
<a class="container-fluid bg-light text-center text-black p-3 btn btn-light" id="scrollButtonWhite" href="#scrollButtonWhite" role="button">
  <p class="h1">Blanc</p>
</a>
<div class="container table-responsive-sm">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Carte</th>
        <th>Quantité</th>
        <th>Prix (unitaire)</th>
      </tr>
    </thead>
    <tbody>
      <% @cards.sort_by(&:printed_name).each do |card| %>
        <% if card.color_identity == "W" %>
          <tr>
            <td><%= card.printed_name %></td>
            <td><%= card.quantity %></td>
            <td><%= card.price %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<!-- Blue -->
<a class="container-fluid bg-primary text-center text-white p-3 btn btn-primary" id="scrollButtonBlue" href="#scrollButtonBlue" role="button">
  <p class="h1">Bleu</p>
</a>
<div class="container table-responsive-sm">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Carte</th>
        <th>Quantité</th>
        <th>Prix (unitaire)</th>
      </tr>
    </thead>
    <tbody>
      <% @cards.sort_by(&:printed_name).each do |card| %>
        <% if card.color_identity == "U" %>
          <tr>
            <td><%= card.printed_name %></td>
            <td><%= card.quantity %></td>
            <td><%= card.price %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<!-- Black -->
<a class="container-fluid bg-dark text-center text-white p-3 btn btn-dark" id="scrollButtonBlack" href="#scrollButtonBlack" role="button">
  <p class="h1">Noir</p>
</a>
<div class="container table-responsive-sm">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Carte</th>
        <th>Quantité</th>
        <th>Prix (unitaire)</th>
      </tr>
    </thead>
    <tbody>
      <% @cards.sort_by(&:printed_name).each do |card| %>
        <% if card.color_identity == "B" %>
          <tr>
            <td><%= card.printed_name %></td>
            <td><%= card.quantity %></td>
            <td><%= card.price %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<!-- Red -->
<a class="container-fluid bg-danger text-center text-white p-3 btn btn-danger" id="scrollButtonRed" href="#scrollButtonRed" role="button">
  <p class="h1">Rouge</p>
</a>
<div class="container table-responsive-sm">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Carte</th>
        <th>Quantité</th>
        <th>Prix (unitaire)</th>
      </tr>
    </thead>
    <tbody>
      <% @cards.sort_by(&:printed_name).each do |card| %>
        <% if card.color_identity == "R" %>
          <tr>
            <td><%= card.printed_name %></td>
            <td><%= card.quantity %></td>
            <td><%= card.price %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<!-- Green -->
<a class="container-fluid bg-success text-center text-white p-3 btn btn-success" id="scrollButtonGreen" href="#scrollButtonGreen" role="button">
  <p class="h1">Vert</p>
</a>
<div class="container table-responsive-sm">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Carte</th>
        <th>Quantité</th>
        <th>Prix (unitaire)</th>
      </tr>
    </thead>
    <tbody>
      <% @cards.sort_by(&:printed_name).each do |card| %>
        <% if card.color_identity == "G" %>
          <tr>
            <td><%= card.printed_name %></td>
            <td><%= card.quantity %></td>
            <td><%= card.price %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<!-- Multicolor -->
<a class="container-fluid bg-warning text-center text-black p-3 btn btn-warning" id="scrollButtonMulti" href="#scrollButtonMulti" role="button">
  <p class="h1">Multicolore</p>
</a>
<div class="container table-responsive-sm">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Carte</th>
        <th>Quantité</th>
        <th>Prix (unitaire)</th>
      </tr>
    </thead>
    <tbody>
      <% @cards.sort_by(&:printed_name).each do |card| %>
        <% if card.color_identity.length > 1 %>
          <tr>
            <td><%= card.printed_name %></td>
            <td><%= card.quantity %></td>
            <td><%= card.price %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<!-- Colorless -->
<a class="container-fluid bg-secondary text-center text-white p-3 btn btn-secondary" id="scrollButtonArtefact" href="#scrollButtonArtefact" role="button">
  <p class="h1">Incolore</p>
</a>
<div class="container table-responsive-sm">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Carte</th>
        <th>Quantité</th>
        <th>Prix (unitaire)</th>
      </tr>
    </thead>
    <tbody>
      <% @cards.sort_by(&:printed_name).each do |card| %>
        <% if card.color_identity == [] %>
          <tr>
            <td><%= card.printed_name %></td>
            <td><%= card.quantity %></td>
            <td><%= card.price %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
