<div class="container text-center" style="margin-top: 150px;">
  <h1><strong><span class=" pb-3 background-gradient">Ta recherche de cartes :</span></strong></h1>
  <p class="lead">Voici les <%= @cards["total_cards"] %> cartes que nous avons trouvé pour vous !</p>
    <div class="row">
      <div class="col-md-6 offset-md-3 my-5">
        <%= form_tag(new_card_path, method: :get) do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], placeholder: "Recherche", class: "form-control" %>
            <%= submit_tag "Rechercher", class: "btn btn-outline-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
    <%= render "partials/errors" %>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3 mt-3">
      <%= render "partials/modals_cards" %>
    </div>
</div>
