<p style="color: green"><%= notice %></p>

<div class="container">

  <div class="px-4 py-5 border-bottom">
    <h1 class="display-5 fw-bold">Recherche tes cartes (<%= @cards["total_cards"] %>)</h1>
    <div class="row">
      <div class="col-md-6">
        <%= form_tag(search_cards_path, method: :get) do %>
          <div class="input-group mb-3">
            <%= text_field_tag :search, params[:search], placeholder: "Recherche", class: "form-control" %>
            <%= submit_tag "Rechercher", class: "btn btn-outline-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <%= render "partials/modals" %>
    </div>
  </div>
</div>
