<p style="color: green"><%= notice %></p>

<div class="container">

  <div class="px-4 py-5 border-bottom">
    <h1 class="display-5 fw-bold">Recherche tes cartes</h1>
    <div class="row">
      <div class="col-md-6">
        <%= form_tag(search_cards_path, method: :get) do %>
          <div class="input-group mb-3">
            <%= text_field_tag :search, params[:search], placeholder: "Recherche", class: "form-control" %>
            <%= submit_tag "Rechercher", class: "btn btn-outline-secondary" %>
          </div>
        <% end %>
      </div>

    </div>
    <div class="form-group">
      <p><%= pluralize(@cards["total_cards"], "carte") %> trouvée(s)</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @cards["data"].each_with_index do |card, index| %>
        <div class="card" style="width: 18rem;">
          <% if card["layout"] == "transform" || card["layout"] == "modal_dfc" %>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel"><%= card["card_faces"][0]["printed_name"] %></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <img src="<%= card["card_faces"][0]["image_uris"]["normal"] %>" class="card-img-top" alt="<%= card["card_faces"][0]["name"] %>">
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Verso</button>
                  </div>
                </div>
              </div>
              </div>
              <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalToggleLabel2"><%= card["card_faces"][1]["printed_name"] %></h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <img src="<%= card["card_faces"][1]["image_uris"]["normal"] %>" class="card-img-top" alt="<%= card["card_faces"][1]["name"] %>">
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Recto</button>
                    </div>
                  </div>
                </div>
              </div>

              <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">
                <img src="https://img.icons8.com/ios-filled/50/000000/rotate-left.png" style="position: absolute; top: 0; right: 0;"/>
                <img src="<%= card["card_faces"][0]["image_uris"]["normal"] %>" class="card-img-top" alt="<%= card["card_faces"][0]["name"] %>">
              </a>
            </div>

          <% else %>

            <div class="modal fade" id="exampleModalToggle<%= index %>" aria-hidden="true" aria-labelledby="exampleModalToggleLabel<%= index %>" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel<%= index %>"><%= card["printed_name"] %></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <img src="<%= card["image_uris"]["normal"] %>" class="card-img-top" alt="<%= card["name"] %>">
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-target="#exampleModalToggle<%= index %>" data-bs-toggle="modal">Fermer</button>
                  </div>
                </div>
              </div>
            </div>

            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModalToggle<%= index %>">
              <img src="<%= card["image_uris"]["normal"] %>" class="card-img-top" alt="<%= card["name"] %>">
            </a>

          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
