<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="px-4 py-5 border-bottom">
    <h1 class="display-5 fw-bold">Recherche tes cartes</h1>
    <div class="row">
      <div class="py-2">
        <%= form_tag search_cards_path, method: :get do %>
          <%= text_field_tag :query, params[:q], placeholder: "Recherche", class: "form-control" %>
          <%= submit_tag "Rechercher", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">

      <% if @card_search["total_cards"] == 1 %>
        <% @card_search["data"].each do |card| %>
          <div class="card" style="width: 18rem;">
            <%= image_tag card["image_uris"]["normal"] %>
          </div>
        <% end %>
      <% elsif @card_search["total_cards"] > 1 %>

        <% @card_search["data"].each_with_index do |card, index| %>
          <div class="card" style="width: 18rem;">
            <%= image_tag card["image_uris"]["normal"] %>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

<%#= link_to "New card", new_card_path %>
