<div class="container text-center my-5">
  <h1><strong><span class=" pb-3 background-gradient">Le Top 10 de tes cartes Magic :</span></strong></h1>
  <p class="lead my-5">Tu as la possibilité d'aller voir directement par couleur toutes tes cartes et modifier leurs quantités :</p>

  <%= render "partials/color_button" %>

  <p class="lead mb-5 my-5">Voici un aperçu du <strong>top 10</strong> de vos cartes les plus chères :</p>

  <!-- White -->
  <a class="container-fluid bg-light text-center text-black p-3 btn btn-light" id="scrollButtonWhite" href="#scrollButtonWhite" role="button">
    <p class="h1">Blanc</p>
  </a>
  <div class="container table-responsive-sm">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Top</th>
          <th>Carte</th>
          <th>Quantité</th>
          <th>Prix (unitaire)</th>
        </tr>
      </thead>
      <tbody>
        <!-- Display the top 10 most expensive cards, sorted by color -->
        <% @cards = @user.cards.where(color_identity: "W").order(price: :desc).limit(10) %>
        <!-- Si la carte n'a pas de prix, on passe à la suivante -->
        <% @cards.each_with_index do |card, index| %>
          <% if card.price.nil? %>
            <% card.price = 0.001 %>
            <% flash[:notice] = "La carte #{card.printed_name} n'a pas de prix par defaut, elle sera donc considérée comme la carte la moins chère de votre collection." %>
            <% card.save %>
          <% end %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= card.printed_name %></td>
            <td><%= card.quantity %></td>
            <td><%= card.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- Blue -->
  <a class="container-fluid bg-primary text-center text-white p-3 btn btn-primary" id="scrollButtonBlue" href="#scrollButtonBlue" role="button">
    <p class="h1">Blue</p>
  </a>
  <div class="container table-responsive-sm">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Top</th>
          <th>Carte</th>
          <th>Quantité</th>
          <th>Prix (unitaire)</th>
        </tr>
      </thead>
      <tbody>
        <!-- Display the top 10 most expensive cards, sorted by color -->
        <% @cards = @user.cards.where(color_identity: "U").order(price: :desc).limit(10) %>
        <% @cards.each_with_index do |card, index| %>
          <% if card.price.nil? %>
            <% card.price = 0.001 %>
            <% flash[:notice] = "La carte #{card.printed_name} n'a pas de prix par defaut, elle sera donc considérée comme la carte la moins chère de votre collection." %>
            <% card.save %>
          <% end %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= card.printed_name %></td>
            <td><%= card.quantity %></td>
            <td><%= card.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- Black -->
  <a class="container-fluid bg-dark text-center text-white p-3 btn btn-dark" id="scrollButtonBlack" href="#scrollButtonBlack" role="button">
    <p class="h1">Noir</p>
  </a>
  <div class="container table-responsive-sm">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Top</th>
          <th>Carte</th>
          <th>Quantité</th>
          <th>Prix (unitaire)</th>
        </tr>
      </thead>
      <tbody>
        <!-- Display the top 10 most expensive cards, sorted by color -->
        <% @cards = @user.cards.where(color_identity: "B").order(price: :desc).limit(10) %>
        <% @cards.each_with_index do |card, index| %>
          <% if card.price.nil? %>
            <% card.price = 0.001 %>
            <% flash[:notice] = "La carte #{card.printed_name} n'a pas de prix par defaut, elle sera donc considérée comme la carte la moins chère de votre collection." %>
            <% card.save %>
          <% end %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= card.printed_name %></td>
            <td><%= card.quantity %></td>
            <td><%= card.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- Red -->
  <a class="container-fluid bg-danger text-center text-white p-3 btn btn-danger" id="scrollButtonRed" href="#scrollButtonRed" role="button">
    <p class="h1">Rouge</p>
  </a>
  <div class="container table-responsive-sm">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Top</th>
          <th>Carte</th>
          <th>Quantité</th>
          <th>Prix (unitaire)</th>
        </tr>
      </thead>
      <tbody>
        <!-- Display the top 10 most expensive cards, sorted by color -->
        <% @cards = @user.cards.where(color_identity: "R").order(price: :desc).limit(10) %>
        <% @cards.each_with_index do |card, index| %>
          <% if card.price.nil? %>
            <% card.price = 0.001 %>
            <% flash[:notice] = "La carte #{card.printed_name} n'a pas de prix par defaut, elle sera donc considérée comme la carte la moins chère de votre collection." %>
            <% card.save %>
          <% end %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= card.printed_name %></td>
            <td><%= card.quantity %></td>
            <td><%= card.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- Green -->
  <a class="container-fluid bg-success text-center text-white p-3 btn btn-success" id="scrollButtonGreen" href="#scrollButtonGreen" role="button">
    <p class="h1">Vert</p>
  </a>
  <div class="container table-responsive-sm">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Top</th>
          <th>Carte</th>
          <th>Quantité</th>
          <th>Prix (unitaire)</th>
        </tr>
      </thead>
      <tbody>
        <!-- Display the top 10 most expensive cards, sorted by color -->
        <% @cards = @user.cards.where(color_identity: "G").order(price: :desc).limit(10) %>
        <% @cards.each_with_index do |card, index| %>
          <% if card.price.nil? %>
            <% card.price = 0.001 %>
            <% flash[:notice] = "La carte #{card.printed_name} n'a pas de prix par defaut, elle sera donc considérée comme la carte la moins chère de votre collection." %>
            <% card.save %>
          <% end %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= card.printed_name %></td>
            <td><%= card.quantity %></td>
            <td><%= card.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- Multi -->
  <a class="container-fluid bg-warning text-center text-black p-3 btn btn-warning" id="scrollButtonMulticolor" href="#scrollButtonMulticolor" role="button">
    <p class="h1">Multi-couleur</p>
  </a>
  <div class="container table-responsive-sm">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Top</th>
          <th>Carte</th>
          <th>Quantité</th>
          <th>Prix (unitaire)</th>
        </tr>
      </thead>
      <tbody>
        <!-- Display the top 10 most expensive cards, sorted by color if color_identity.length > 1 -->
        <% @cards = @user.cards.where("color_identity != 'W' AND color_identity != 'U'
                                                             AND color_identity != 'B'
                                                             AND color_identity != 'R'
                                                             AND color_identity != 'G'").order(price: :desc).limit(10) %>
        <% @cards.each_with_index do |card, index| %>
          <% if card.price.nil? %>
            <% card.price = 0.001 %>
            <% flash[:notice] = "La carte #{card.printed_name} n'a pas de prix par defaut, elle sera donc considérée comme la carte la moins chère de votre collection." %>
            <% card.save %>
          <% end %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= card.printed_name %></td>
            <td><%= card.quantity %></td>
            <td><%= card.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- Colorless" -->
  <a class="container-fluid bg-secondary text-center text-white p-3 btn btn-secondary" id="scrollButtonColorless" href="#scrollButtonColorless" role="button">
    <p class="h1">Incolore</p>
  </a>
  <div class="container table-responsive-sm">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Top</th>
          <th>Carte</th>
          <th>Quantité</th>
          <th>Prix (unitaire)</th>
        </tr>
      </thead>
      <tbody>
        <!-- Display the top 10 most expensive cards, sorted by color -->
        <% @cards = @user.cards.where(color_identity: "").order(price: :desc).limit(10) %>
        <% @cards.each_with_index do |card, index| %>
          <% if card.price.nil? %>
            <% card.price = 0.001 %>
            <% flash[:notice] = "La carte #{card.printed_name} n'a pas de prix par defaut, elle sera donc considérée comme la carte la moins chère de votre collection." %>
            <% card.save %>
          <% end %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= card.printed_name %></td>
            <td><%= card.quantity %></td>
            <td><%= card.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= render "partials/scroll_to_top" %>
