<div class="container text-center mt-custom">
  <div class="row justify-content-center">
    <div class="list-group-item">
      <div class="d-grid gap-2 col-9 mx-auto">
        <%= button_to "Recherche une carte aléatoire", { action: "random" }, method: :get, class: "btn btn-primary mt-5 btn-wide" %>
      </div>
      <%= render "partials/modals_random" %>
      <div class="col-9 col-lg-4 col-xxl-3 mb-12 mt-5">
        <h5 class="mb-5"><%= @card["printed_name"] %></h5>
        <% if @card["printed_text"] == nil %>
          <%= replace_magic_symbols(@card["oracle_text"], @magic_symbols) %>
        <% else %>
          <% @card["printed_text"].split("\n").each do |text| %>
            <p><%= replace_magic_symbols(text, @magic_symbols) %></p>
          <% end %>
        <% end %>
        <div class="text-muted"><i><%= @card["flavor_text"] %></i></div>
        <% if @card["printed_name"] %>
          <h6 class="text-muted mt-5"><%= @card["artist"] %></h6>
        <% end %>
      </div>
      <div class="d-grid gap-2 col-9 mx-auto">
        <%= button_to "Recherche une carte aléatoire", { action: "random" }, method: :get, class: "btn btn-primary mt-5 btn-wide" %>
      </div>
    </div>
  </div>
</div>

