<!-- Recherche une carte aléatoire avec https://api.scryfall.com/cards/random -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Recherche une carte Magic de façon aléatoire</h1>
        <p class="text-center">Clique sur le bouton pour obtenir une carte aléatoire</p>
        <div class="text-center">
          <!-- lorsque j'appuie sur le bouton recharge la page -->
          <button class="btn btn-primary" onclick="window.location.reload()">Recherche une carte aléatoire</button>
        </div>
        <!-- Afficher la carte random en taille normal en français avec highres_image = true -->
        <div class="text-center mt-3">
          <% if @card %>
            <img src="<%= @card["image_uris"]["normal"] %>" alt="<%= @card["name"] %>" class="img-fluid">
          <% end %>
        </div>
        <!-- Affiche la traduction de la carte en français -->
        <div class="text-center">
          <% if @card %>
            <p><%= @card["name"] %></p>
            <p><%= @card["oracle_text"]["lang:fr"] %></p>
            <p><%= @card["flavor_text"] %></p>
          <% end %>
        </div>
        <%= console %>
      </div>
    </div>
  </div>
</section>
