<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Primary Meta Tags -->
    <title>RepaireMagic — Mettez en avant votre collection Magic.</title>
    <meta name="title" content="RepaireMagic — Mettez en avant votre collection Magic.">
    <meta name="description" content="Vous allez pouvoir enfin estimer la valeur de votre collection, et voir le top 10 de vos cartes les plus chères.">

    <!-- Metas -->
    <meta name="description" content="Vous allez pouvoir enfin estimer la valeur de votre collection, et voir le top 10 de vos cartes les plus chères.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Repairemagic">
    <meta name="twitter:creator" content="@Repairemagic">
    <meta name="twitter:title" content="RepaireMagic — Mettez en avant votre collection Magic.">
    <meta name="twitter:description" content="Vous allez pouvoir enfin estimer la valeur de votre collection, et voir le top 10 de vos cartes les plus chères.">
    <meta name="twitter:image" content="https://user-images.githubusercontent.com/85675011/198518404-3ec8a18e-a9c3-4805-8c62-c987d0e0cfa9.png">
    <meta property="og:url" content="https://www.repairemagic.fr/">
    <meta property="og:image" content="https://user-images.githubusercontent.com/85675011/198518404-3ec8a18e-a9c3-4805-8c62-c987d0e0cfa9.png">

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="https://i.postimg.cc/RVdX4HT0/apple-touch-icon.png" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
      <%= render "partials/navbar" %>
      <%= render "partials/flash" %>
    </header>
    <main>
      <%= yield %>
      <%#= debug(params) if Rails.env.development? %>
      <%#= console if Rails.env.development? %>
      <%= render "partials/footer" %>
    </main>
  </body>
</html>
